.body {
  @include flex(column center);
  justify-content: center;
  margin: 60px 0;
}

.section {
  &__head,
  &__skills,
  &__footer {
    background: url(../src/images/sprites/png/body.png);
    width: 660px;
    position: relative;
    border-bottom: 2px solid #f0f0f0;
    &:nth-child(2) {
      padding: 36px 19px 40px;
    }
    &:nth-child(3) {
      border: none;
      padding: 38px 20px 59px;
    }
    h1 {
      font-size: 18px;
      color: #010101;
      -webkit-font-smoothing: antialiased;
      font-weight: 500;
    }
  }
}

.form {
  &__head {
    @include flex(row flex-start);
    margin: 30px 20px 32px;
  }
  &__info {
    margin-left: 22px;
  }
  &__input {
    border-bottom: 2px solid #333333;
    width: 460px;
    padding-bottom: 8px;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    letter-spacing: 0.0625em;
    font-size: 10px;
    &:nth-child(2),
    &:nth-child(4) {
      padding-top: 34px;
    }
    &:nth-child(3) {
      padding-top: 36px;
    }
  }
  &__print {
    background: url(../src/images/sprites/png/print.png) no-repeat;
    width: 184px;
    height: 166px;
    position: absolute;
    right: 4px;
    bottom: 13px;
  }
}

.skills {
  &__blocks {
    @include flex(row);
    margin-top: 26px;
  }
  &__block {
    width: 100%;
  }
  &__item {
    margin-bottom: 40px;
    &:nth-child(3n) {
      margin: 0;
    }
  }
  &__text {
    @include flex(center);
    letter-spacing: 0.0625em;
    font-weight: 700;
    line-height: 1.834;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: #666;
  }
}

.counter {
  &__blocks {
    @include flex(row center);
  }

  &__text {
    color: #010101;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
  }
  &__number {
    color: #0093d7;
    font-weight: 900;
    font-size: 50px;
  }
  &__texts {
    margin-left: 67px;
  }
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label span {
  background: url(../src/images/sprites/png/cheked.png) top no-repeat;
}
input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 0 8px 0 0;
  vertical-align: middle;
  background: url(../src/images/sprites/png/check.png) left top no-repeat;
  cursor: pointer;
}
